body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Noto Serif', serif;
}


#container {
    margin: .5vh auto;
    padding: 1vh;
    width: 90vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}



#map {
    border-style: solid;
    border-width: .1em;
    flex-basis: 78%;
    align-self: center;
    width: 90%;
    margin: 5% auto 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.471), 0 6px 20px 0 rgba(0, 0, 0, 0.509);
    border-radius: 2px;
}

/* #menu {
    width: 30%;
    max-width: 100%;
    flex-basis: 6%;
    margin: 2% auto 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.815), -1px 1px 2px rgba(0, 0, 0, 0.815), 1px -1px 2px rgba(0, 0, 0, 0.815), 1px 1px 2px rgba(0, 0, 0, 0.815);
    font-size: 1.1em;
    color: #ffffff;
} 

 #menu a.initial {
    background-color: #CEECB7;
    color: black;
    text-shadow: none;
}

#menu a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0F3588;
    border-radius: 2px;
    box-shadow: 0px 0px 15px 1px rgba(3, 0, 0, 0.37);
    padding: .75%;
    border: .5px solid black;
}

#menu a:hover {
    background-color: #0f3588e2;
    color: #ffffff;
    text-shadow: -2px -2px 3px rgba(0, 0, 0, 0.815), -2px 2px 3px rgba(0, 0, 0, 0.815), 2px -2px 3px rgba(0, 0, 0, 0.815), 2px 2px 3px rgba(0, 0, 0, 0.815);
}

#menu a.active {
    background-color: #0F3588;
    color: #ffffff;
    display: flex;
    text-align: center;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 10px solid rgba(224, 17, 137, 0.82);
}


#menu a.active:hover {
     background: #3074a4; 
    background-color: #2367A0;
} */

#legend {

    width: 80%;
    flex-basis: 10%;
    margin: 3% auto 0 auto;
    background-color: rgba(162, 162, 162, 0.144);
    border: .09em solid #0c2c846d;
    border-radius: 5px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-shadow: 2px 2px 5px rgb(211, 211, 211);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.471), 0 6px 20px 0 rgba(0, 0, 0, 0.509);
}

#legend-gradient {
    max-width: 100%;
    height: 40%;
    background: linear-gradient(to right, #ffffcc, #c7e9b4 20%, #7fcdbb 40%, #41b6c4 60%, #0c2c84);
    margin: auto;
    flex-basis: 60%;
    border: 2.5px solid;
    

}

.legend-text-left {
    font-size: .85em;
    padding: 2px;
    flex-basis: 20%;
    text-align: center;


}

.legend-text-right {
    font-size: .85em;
    padding: 2px;
    flex-basis: 20%;
    text-align: center;
}



/* @media screen and (max-width: 480px) {

    #menu,
    #menu a,
    #menu a.active {
        width: 90vw;
        font-size: .95em;
    }
} */


#toggle-id {
    width: 20%;
    max-width: 100%;
    flex-basis: 15%;
    margin: .5% auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.815), -1px 1px 2px rgba(0, 0, 0, 0.815), 1px -1px 2px rgba(0, 0, 0, 0.815), 1px 1px 2px rgba(0, 0, 0, 0.815);
    font-size: 1.1em;
    color: #ffffff;
    /* border: 2px solid hotpink; */
}

#toggle-text {
    margin: 2px;
    font-weight: 600;
    text-align: center;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0D2F85;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0D2F85;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

.underlined {
    text-decoration: underline #0D2F85 3px;
    text-shadow: 2px 2px 5px rgb(211, 211, 211);
  }
