body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Noto Serif', serif;
    /* overflow: auto; */
}

#big-container {
    margin: auto;
    padding: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;  
}

#small-container {
    flex-basis: 85%;
    margin: auto;
    padding: .5%;
    width: 90vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    flex-shrink: 1;
}


#map {
    border-style: solid;
    border-width: .1em;
    flex-basis: 80%;
    align-self: center;
    width: 80%;
    margin: 2% auto 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.471), 0 6px 20px 0 rgba(0, 0, 0, 0.509);
    border-radius: 2px;
}

@media screen and (max-width: 820px) {
    #map {
        flex-basis: 60%;
    }
}  

#legend {

    width: 80%;
    flex-basis: 4%;
    margin: 1.25% auto 0;
    background-color: rgba(162, 162, 162, 0.144);
    border: .09em solid #0c2c846d;
    border-radius: 5px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-shadow: 2px 2px 5px rgb(211, 211, 211);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.471), 0 6px 20px 0 rgba(0, 0, 0, 0.509);
}

#legend-gradient {
    max-width: 100%;
    height: 40%;
    background: linear-gradient(to right, #ffffcc, #c7e9b4 20%, #7fcdbb 40%, #41b6c4 60%, #0c2c84);
    margin: auto;
    flex-basis: 60%;
    border: 2.5px solid;
    

}

.legend-text-left {
    font-size: .85em;
    padding: 2px;
    flex-basis: 20%;
    text-align: center;


}

.legend-text-right {
    font-size: .85em;
    padding: 2px;
    flex-basis: 20%;
    text-align: center;
}


#toggle-id {
    width: 20%;
    max-width: 100%;
    flex-basis: 5%;
    margin: 1.75% auto 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.815), -1px 1px 2px rgba(0, 0, 0, 0.815), 1px -1px 2px rgba(0, 0, 0, 0.815), 1px 1px 2px rgba(0, 0, 0, 0.815);
    color: #ffffff;
}

#toggle-text {
    margin: .5% auto 0;
    font-weight: 600;
    text-align: center;
    flex-basis: 3%;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #0D2F85;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #0D2F85;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

.underlined {
    text-decoration: underline #0D2F85 3px;
    text-shadow: 2px 2px 5px rgb(211, 211, 211);
  }

  #description {
    flex-basis: 10%;
    align-self: center;
    width: 98%;
    margin: 1% auto;
    padding: 1%;
    flex-shrink: 1;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.471), 0 6px 20px 0 rgba(0, 0, 0, 0.509);
    border-radius: 2px;
    /* overflow: scroll; */
  }

  p .p-text {
    border-width: .1em;
    align-self: center;
    width: 100%;
    max-width: 95%;
  }

  /* .footer {
    flex-shrink: 0;
    flex-basis: 5%;
    width: 100%;
    margin: auto auto 0;
    box-shadow: -2px -2px 6px 1px rgba(47, 47, 47, 0.836);
    border-radius: 2px;
    padding: 0;
    
    bottom: 0;
    left: 0;
    font-size: .8em;
    font-weight: 600;
    background-color: #0d2f85ef;
    color: rgb(255, 251, 251);

  } */

  #footer-container {
    flex-basis: 5%;
    box-shadow: -2px -2px 6px 1px rgba(47, 47, 47, 0.836);
    color: rgb(255, 251, 251);
    display: flex;
    background-color: #0d2f85ef;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 100%;
    /* background-color: purple; */
  }

  .p-footer {
    flex-basis: 30%;
    padding: .5%;
    margin: auto;
    width: 100%;
    text-align: center;
    border-right: .5px solid rgba(0, 0, 0, 0.815);
    border-left: .5px solid rgba(0, 0, 0, 0.815);
    align-items: center;
  }


/* @media screen and (max-width: 820px) {
    #description {
    
        margin: 4% auto 2%;
    }
    .p-text {
        overflow: scroll;
    }
}   */

@media screen and (max-width: 820px) {
    #footer-container {
    font-size: .8em;
    }
    #description {
        overflow: scroll;
        flex-basis:40%;
        margin: 5%;
    }
    #small-container {
        flex-basis: 70%;
    }
}

  
